<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="umesh" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="localhost" />
          <option name="id" value="c998f19dff2240a798ad0c1d3ce5fb7f" />
          <option name="name" value="umesh" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="umesh" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="statement" value="MYSQL" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/java" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="model" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/java" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="selectedTables">
          <list>
            <TableInfo>
              <option name="database" value="umesh" />
              <option name="domainName" value="Transaction" />
              <option name="tableComment" value="" />
              <option name="tableName" value="transaction" />
            </TableInfo>
          </list>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="sqlmap" />
            <option name="targetProject" value="$PROJECT_DIR$/src/main/resources" />
          </SqlMapGeneratorConfiguration>
        </option>
        <option name="targetRuntime" value="MyBatis3DynamicSql" />
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="umesh#recharge">
          <value>
            <TableInfo>
              <option name="database" value="umesh" />
              <option name="domainName" value="Recharge" />
              <option name="tableComment" value="" />
              <option name="tableName" value="recharge" />
            </TableInfo>
          </value>
        </entry>
        <entry key="umesh#transaction">
          <value>
            <TableInfo>
              <option name="database" value="umesh" />
              <option name="domainName" value="Transaction" />
              <option name="tableComment" value="" />
              <option name="tableName" value="transaction" />
            </TableInfo>
          </value>
        </entry>
        <entry key="umesh#upi_on_ivr_calldc_log">
          <value>
            <TableInfo>
              <option name="database" value="umesh" />
              <option name="domainName" value="UpiOnIvrCalldcLog" />
              <option name="tableComment" value="" />
              <option name="tableName" value="upi_on_ivr_calldc_log" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>